--index-url https://download.pytorch.org/whl/cu128
--extra-index-url https://pypi.org/simple
torch==2.7.1+cu128
torchvision==0.22.1+cu128
torchaudio==2.7.1+cu128
numpy>=1.24
tqdm==4.62.3
pot==0.8.2
matplotlib==3.5.0
cvxpy==1.2.1
pyabc==0.12.4
geomloss==0.2.5 # --no-build-isolation
